<ion-view style="" class=" " id="page13" title="Support">
    <ion-content class="has-header" padding="false" >



      <ion-list class=" " >

        <!-- Profile Cover Page -->
        <div class="support-nav col-md-3">
          <div class="panel">
            <div class="user-heading round">
              <a href="#">
                <img  ng-src="{{user_info.photoURL}}">
              </a>
              <p style="color: #ffffff;">{{user_info.displayName}} </p>
            </div>
          </div>
        </div>

        <br/>





      </ion-list>





    </ion-content>
</ion-view>
